* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(45deg, #8700a8, #ff52a0);
 
}
/* gif background */
.main-container{
  background-image: url('galaxy.gif');
  background-size: cover;
  height: 100vh;
  padding:  0% 10% 0% 10%;}

.logo{
width: 206px;
margin: 50px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
}

main {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px 40px;
  
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

form {
  padding: 30px 40px;
  
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input{
  position: relative;
  z-index:2;

}

.form-control input, #gender-types {
  border: 2px solid #e0e0e0;
  border-radius: 22px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus, #gender-types {
  outline: 0;
  border-color: #8700a8;
}

/* Applied with JS */
.form-control.success input {
  border-color: #05c555;
}

/* Applied with JS */
.form-control.error input {
  border-color: #e01111;
}

/* Icons */
.form-control span {
  visibility: hidden;
  position: absolute;
  top: 36px;
  right: 10px;
}

/* Check circle icon */
.form-control.success span.fa-check-circle {
  color: #05c555;
  visibility: visible;
}

/* Error icon */
.form-control.error span.fa-exclamation-circle {
  color: #e01111;
  visibility: visible;
}

/* Error message */
.form-control small {
  color: #e01111;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* Applied with JS */
.form-control.error small {
  visibility: visible;
}

form button {
  background-image: linear-gradient(45deg, #8700a8, #ff52a0);
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index:2;
}

form button:hover {
  background-image: linear-gradient(45deg, #ff52a0, #8700a8);
  transition: ease-in-out;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* --------------cursor styles ------------------ */
body{
  /* cursor: url(blob32.gif), auto; */
  cursor:grab;

}
audio{
  color: #8700a8;
  opacity: 0.3;
  display:flexbox;
  justify-self: center;
  position:absolute;
  top: 12.8%;
  left:20.5%;
  width: 270px;
  z-index: 2;
  transform: rotatez(90deg);
}
audio:hover{
  opacity: 0.8;
}
#cursor{
  height:50px;
  width:50px;
  background:#8700a8;
  border-radius:50px;
  position: absolute;
  opacity: 0.6;
  display: none;
  transition-duration:0.3s;
  transition-timing-function: ease-out;
}
div:hover ~ #cursor{
  transform: scale(0.5);
}

#cursor:active{
  transform: scale(1.5);

}

@media(max-height:750px) {


  main {
    width: 60vh;
    height: 100%;
    padding-bottom: 20%;   
  }


  form{
    padding: 22px;
  }


  .form-control{
    width: 95%;
    height: 95%;
  }


  .logo{
    width: 106px;
    display:none;
  }

}

@media(max-width:1222px){

  

audio{
  display:flexbox;
  justify-self: center;
  position:absolute;
  top: 6.8%;
  left:2%;
  width: 170px;
  z-index: 2;
  transform: rotatez(90deg);
}



}